# PostgreSQL
POSTGRES_DB=CoursesDB
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=  # Оставьте пустым если не нужен пароль

# Backend
BACKEND_PORT=8080

# Frontend
FRONTEND_PORT=3000

# Gmail
GMAIL_APP_PASSWORD=your-16-character-app-password
APP_ADMIN_EMAIL=uzhegov2006@gmail.com